.Item {
    padding: var(--base-space);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex: 1;
    width: 100%;
    margin-bottom: calc(var(--base-space) * 4);
}

.disabled {
    color: var(--secondary-text-color);
}

.Item__position {
    padding: 8px;
    flex-grow: 0;
}

.Item__position__Circle {
    border-radius: 50%;
    width: calc(var(--base-font-size) * 2);
    height: calc(var(--base-font-size) * 2);
    background-color: var(--primary-color-background);
    text-align: center;
    font-size: 12px;
    line-height: calc(var(--base-font-size) * 2);
}

.Item__title {
    display: block;
}

.Item__title, .Item__time_author, .Item__hostname {
    padding: var(--base-space);
}

.Item__time_author {
    text-align: right;
    justify-self: flex-end;
    flex: 1;
}
.Item__time_author > span {
    white-space: nowrap;
}

.Item__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0;

    flex: 1;
}

.Item__detail {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0;

    align-self: stretch;
    flex-grow: 0;
    flex-wrap: wrap;

    color: var(--secondary-text-color);
}

.Item--hidden {
    max-height: 0;
    padding: 0;
}
