.Header {
    background-color: var(--primary-color);
    height: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    margin-bottom: calc(var(--base-space) * 3);
    padding-left: calc(var(--base-space) * 2);
}

@media screen and (min-width: 460px) {
    .Header {
        align-items: flex-start;
    }
}